/* app global css */
.q-table {
  background-color: yellow ;
}

.post-body {
  background-color:floralwhite;
  width: 90%;
  height:50%;
  overflow-y: hidden;
}

.title-render {
  background-color: aquamarine;
}

.body-render {
  background-color: brown ;
}

.q-toolbar {
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
}

.search-bar{
  border-radius: 20px;
  border-color: black;
  padding-left: 10%;
}

.btn-nav {
  background-color: darkgray;

}

/* Layout */
.q-matrix {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 16px;
}

@media only screen and (min-width: 768px) {
  .q-matrix {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}

/* Post cards */
.q-card {
  cursor: pointer;
}

.q-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.q-card-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.q-item-label[header] {
  font-weight: bold;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
