/* app global css */
* {
  color: white;
  font-family: Verdana, sans-serif;
}
h1 {
  font-size: 1.8rem;
  font-weight: bold;
  font-family:sans-serif
}

h2 {
  font-size: 1.6rem;
}

body {
  background-color: rgb(55, 51, 51);
  animation: stars 50s ease-in-out infinite;
}

@keyframes stars {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 1000px, -500px -2000px, 1000px -500px;
  }
  100% {
    background-position: 1000px 2000px, -1000px -4000px, 2000px -1000px;
  }
}

.q-table {
  background-color: #322f29;
}

.post-body {
  background-color: #41413f;
  width: 90%;
  height: 50%;
  overflow-y: hidden;
}

.title-render {
  background: linear-gradient(to right, #3f3c3b, #292927);
  color: #414a4c;
}

.body-render {
  background: linear-gradient(to right, #332f2f, #454341);
  color: white;
  font-size: 1.5rem;
}

.q-toolbar {
  background: linear-gradient(to right, #000000, #282423);
  border-radius: 4px;
}

.search-bar {
  border-radius: 10px;
  border-color: #b37812;
  padding-left: 10%;
  background: linear-gradient(to right, #0a0a0a, #414a4c);
  color: white;
}
.q-field__native, .q-field__prefix, .q-field__suffix, .q-field__input {
  color: white;
}

.btn-nav {
  background: linear-gradient(to right, #8bbabb, #414a4c);
  color: #414a4c;
}

.btn-nav:hover {
  background: linear-gradient(to right, #ffb347, #ffcc33);
  color: white;
}

/* Layout */
.q-matrix {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 16px;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .q-matrix {
    grid-template-columns: repeat(4, minmax(300px, 1fr));
  }
}

/* Post cards */
.q-card {
  cursor: pointer;
  background: linear-gradient(to bottom, #000000, #302e29);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
  z-index: 0;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  height: 300px; /* Set a fixed height for the card */
  transition: transform 0.2s ease-in-out;
}

.q-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 6px 8px rgba(12, 255, 251, 0.5);
}


.q-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.q-card-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; /* Aligns items to the start and end of the container */
  text-emphasis-color: yellow;
}

.q-item-label[header] {
  font-weight: bold;
  color: white;
}
.q-item__label--caption {
  color: rgb(226, 188, 62);
}
.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Gradient backgrounds */
.q-header {
  background: linear-gradient(to right, #080807, #67635b);
}

.q-drawer {
  background: linear-gradient(to right, #3c3a37, #23201a);
}

.essential-link:hover {
  background: linear-gradient(to right, #d3d3ca, #21201d);
  color: white;
}

.avatar-overlay {
  position: relative;
  margin-top: -50px; /* Adjust this value to achieve the desired overlap */
  z-index: 1;
  box-shadow: 0 0 10px 3px rgba(4, 3, 2, 0.5); /* Add a golden glow */
}

.post-author {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.post-author img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}

.post-author-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #414a4c;
}

.post-date {
  font-size: 0.8rem;
  color: #414a4c;
  margin-left: auto;
}

.post-content {
  margin-top: 10px;
}

.input{
  color: white;
}

.profile-nav {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05),
              0 4px 4px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.05);
}

.banner {
  border-radius: 10px;
}

.q-dialog-container--modal-blur .q-page {
  filter: blur(100px);
}

.q-dialog-container--modal-blur .q-page:after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 1);
  z-index: -1;
}

.q-card__section img {
  max-width: 100%;
  max-height: 40vh;
  margin: 0px auto;
  display: block;
}

.post-card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

}

.post-card-section > * {
  margin-bottom: 10px;
  width: 100%;
}

.custom-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
